$primary-color: #FFEFE7;
$secondary-color: #FFDAC6;
$tertiary-color: #BABD8D;
$quaternary-color: #FA9500;
$primary-text-color:#7C6A0A;
$font-stack: 'IBM Plex Sans', sans-serif;
$paragraph-size: 1.5em;


@mixin flexCenter ($direction, $content, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

@mixin buttonStyle () {
    background: none;
    border-style: none;

}



body{
    margin: 0px;
    padding: 0px;
    background-color: $primary-color;
    font-family: $font-stack;
}



nav {
    width: auto;
    padding: 15px;
    @include flexCenter(row, space-between, center);
    color: $primary-text-color;

    p {
        font-size: $paragraph-size;
        padding-left: 30px;
    }

    .icons {
        display: flex;
        gap: 15px;

        button {
            @include buttonStyle();
            svg path {
                stroke: $primary-text-color;
            }
        }

    }

}



main {
    background-color: $primary-color;
}


article {
    width: auto;
    @include flexCenter(row, space-between, center);
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 70px;


    .impact-section{
        @include flexCenter(column, initial, flex-start);
        padding-top: 50px;
        gap: 25px;
    }

    h1 {
        margin: 0px;
        padding: 0px;
        font-size: 3em;
    }

    p {
        font-size: $paragraph-size;
    }



    @include buttonStyle();
    button {
        width: 12vw;
        padding: 20px;
        background-color: $quaternary-color;
        border-radius: 35px;
        color:white;
        font-size: 1em;
    }

    img {
        width: 25vw;
        border-radius: 20px;
    }


}




section {
    width: 100%;
    height: auto;
    padding: 60px;

    h2 {
        color: $primary-text-color;
        font-size: 2em;
    }


    .healthcare {
        padding-bottom: 60px;

        h2{
            font-weight: 300;
            padding-bottom: 60px;
        }

        .card-section{
            @include flexCenter(row, center, center);
            flex-wrap: wrap;
            width: auto;
            height: auto;
            column-gap: 60px;
            row-gap: 80px;

        }



        .product-card {
            /*
            display: flex;
            flex-direction: column;
            align-items: center;
            */
            width: 15vw;
            min-width: 170px;
            height: auto;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 10px;
            border-radius: 8px;

            .icon {
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 12px;
                svg path {
                    width: 28px;
                    height: 28px;
                    stroke: $primary-text-color;
                }
            }

            .product-image {
                width: 100%;
                height: auto;
                display:flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 12vw;
                    min-width: 150px;
                    height: 30vh;
                    object-fit: cover;
                    border-radius: 6px;
                }
            }

        }




    }


    .furniture {
        @extend .healthcare;

        .product-card {
            background-color: $tertiary-color;
            color: white;
        }
    }





}




footer {
    background-color: $quaternary-color;
    width: 100%;
    height: 250px;
 }